/* MEMORY MATCH CSS
Author: [Sharon Babatunde]
Date: March 16th 2026
Description: This CSS file styles the Memory Match game, controlling the layout, colors, 
responsiveness, and visual appearance of the game screens and elements. */

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: black;
}
h2 {
    color: rgb(103, 15, 40);
    text-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    font-size: 30px;
}
p {
    color: black;
}

/* BUTTONS */
#startBtn {
  display:none;
  margin: 10px auto;
  padding: 20px 50px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #ff66aa, #ffccff);
  border: 4px solid #ff4da6;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 6px #5d1137;
  text-shadow: 2px 2px #ff99cc;
  transition: all 0.1s ease-in-out;
}
#playAgainBtn {
  display:block;
  margin: 10px auto;
  padding: 20px 50px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #fea2cc, #ffe0e0);
  border: 4px solid #ff4da6;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 6px #5d1137;
  text-shadow: 2px 2px #ff99cc;
  transition: all 0.1s ease-in-out;
}
#helpBtn {
    position: fixed;
    top: 20px; 
    right: 20px;       
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
#helpText {
  display: none;
  position: fixed;
  right: 90px;  
  top: 20px; 
  width: 300px;   
  background-color: #f9f9f9;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  font-size: 10px;
}
#startBtn:active {
  transform: translateY(4px);
  box-shadow: 0 2px #ff4da6;
}
#playAgainBtn:active {
  transform: translateY(4px);
  box-shadow: 0 2px #ff4da6;
}

/* SCREENS */
#splashScreen {
    text-align: center;
    padding: 20px;
    background: #000000;
    width: 100%;
}
#gameScreen {
    text-align: center;
    padding: 20px;
    
    background: linear-gradient(#ffe6f2,#fff5cc);  
}
#endScreen {
    text-align: center;
    padding: 40px;

    background: linear-gradient(#ffe6f2,#fff5cc);
    min-height: 100vh;
}
#board {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 100%
}

/* CANVAS */
canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}
#splashCanvas {
    display:block;
    margin: 5px auto;
    border-radius: 20px;
    background: linear-gradient(#ffe6f2,#fff5cc);
}

/* CARDS */
.card {
    height: 195px;
    width: 195px;
     
    background-image: url("../images/card.jpeg");
   
    border: 2px solid #000000;
    color: white;
    font-size: 24px;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}
.card-image {
    width: 90%;
    height: 90%;
    object-fit: contain; 
}
.card.flipped {
    background-image: none;
    background-color: white;
}

/* SCOREBOARD */
#scoreboard {
    background: #ffe6f2;
    margin-bottom: 10px;;
    border-radius: 15px;
    width: 20%;
    border: 2px solid #4c1839;
    margin: 0 auto 10px auto;

    font-size: 18px;
    line-height: 1.4;
    box-shadow: 0px 4px 10px rgba(106, 68, 82, 0.2);
}
#progressBar {
    width: 100%;
    height: 30px;  
}
#finalScore {
    font-size: 36px;
    font-weight: bold;
    color: #6e1536;

    background: #ffe6f2;
    padding: 10px 20px;
    border-radius: 15px;

    border: 2px solid #ffb6d9;
    display: inline-block;
    margin: 10px 0;
}
#history {
    margin: 20px;
    font-size: 16px;
    color: #444;
}

/* DESKTOP SIZES */
@media (min-width: 769px) and (max-width: 1439px) {
    #gameScreen {
        width: 100;
        margin: 0 auto;
        padding: 20px;
        background: linear-gradient(#ffe6f2,#fff5cc); 
    }
    #board {
        display: flex;   
        flex-wrap: wrap;          
        justify-content: center;    
        gap: 10px;   
        margin-top: 20px;
    }
    .card-image {
        width: 90%;
        height: 90%;
    }
    canvas {
        width: 100%;
        height: auto;
    }
}

/* TABLET SIZES  */
@media (max-width: 768px){
    #board {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        padding: 10px;
    }
    .card {
        width: 100%;
        height: 120px;
    }
    .card-image {
        width: 90%;
        height: 90%;
    }
    #scoreboard {
        width: 60%;
        font-size: 16px;
    }
    #progressBar {
        width: 90%;
    }
    canvas {
        width: 100%;
        height: auto;
    }
    #helpText {
        width: 250px;
        font-size: 12px;
    }
}

/* MOBILE SIZES */
@media (max-width: 480px){
    #splashCanvas {
        display: block;
        margin: 30vh auto 10px auto;
    }
    #board {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }
    .card {
        height: 90px;
    }
    .card-image {
        width: 85%;
        height: 85%;
    }
    h2 {
        font-size: 22px;
    }
    #scoreboard {
        width: 90%;
        font-size: 14px;
    }
    #startBtn, #playAgainBtn {
        font-size: 20px;
        padding: 12px 25px;
    }
    #helpBtn {
        top: 10px;
        right: 10px;
        padding: 6px 10px;
    }
    #helpText {
        right: 10px;
        top: 50px;
        width: 200px;
        font-size: 11px;
    }
}
